{
    "tabWidth": 2,
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": false,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "arrowParens": "always"
  }